.filters {
  padding-top: 36px;
}
.text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--primary-grey-8A8A89);
}
.selector {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  width: 124px;
  height: 48px;
  margin-top: 8px;
  color: var(--primary-black-121417);
  border-radius: 14px;
  border: none;
}
