.teachersSection {
  background-color: var(--primary-beige-EEEEEE);
  min-height: 100vh;
}
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  gap: 20px;
}
